html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    ". . ."
    ". c ."
    ". . .";
}

.card {
  display: grid;
  width: 457px;
  height: 137px;
  grid-area: "c";
  grid-template-columns: 130px auto;
  grid-template-rows: auto auto auto;
}

.profile-photo {
  height: 130px;
  width: 130px;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 0 0 14px;
}

.logo {
  display: grid;
  grid-template-columns: 20px auto;
}

.logo-info {
  margin: 0 24px 0 14px;
}

.card-info-text {
  font-size: 20px;
  font-family: "Roboto";
  color: #000000;
  margin: 14px;
}

.text-bold {
  font-weight: bold;
}

.logo-photo {
  width: 20px;
  height: 20px;
  margin: 0;
}
