.main {
  width: 97vw;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 457px;
  height: 138px;
  display: flex;
  margin: 4px;
}

.profile-photo {
  width: 130px;
  height: 130px;
}

.card-info {
  padding: 0px 14px;
}

.card-info-text {
  font-size: 20px;
  font-family: "Roboto";
  color: #000000;
  padding: 14px 0px 24px 0px;
  margin: 0px;
}

.text-bold {
  font-weight: bold;
  padding: 14px 0 0 0;
}

.footer {
  display: flex;
}

.logo {
  display: flex;
}

.logo-photo {
  width: 20px;
  height: 20px;
}

.logo-info {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: medium;
  margin: 0 24px 0 14px;
}
